{% include "header.html" %}
{% include "menu.html" %}
{% from "security/macros.html" import render_input_with_errors %}

{% block body %}

{% include "messages.html" %}

<div class="container">
  <form class="form-signin" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
    <h2 class="form-signin-heading text-center">{% trans %}Change Password{% endtrans %}</h2>
    {{ change_password_form.hidden_tag() }}
    {{ render_input_with_errors(change_password_form.password, "password", gettext("Current password"), "required") }}
    {{ render_input_with_errors(change_password_form.new_password, "password", gettext("New Password"), "required") }}
    {{ render_input_with_errors(change_password_form.new_password_confirm, "password", gettext("Confirm Password"), "required") }}
    <button class="btn btn-lg btn-primary btn-block" id="c" type="submit" value="Change Password">{% trans %}Change passwords{% endtrans %}</button>
  </form>
</div>

{% endblock %}
{% include "footer.html" %}
