{% include "header.html" %}
{% from "security/macros.html" import render_errors, render_input %}

{% block body %}

<section id="login">
  <img class="logo-lg" src="{{ static_url_for('static', filename='img/tater-logo-lg.svg') }}" alt="Hot Potato Logo - A violently flaming potato">

  <div class="text">
    {% include "messages.html" %}
    <form class="form-signin" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
      {{ login_user_form.hidden_tag() }}
      <div class="form-group">
        {{ render_input(login_user_form.email, "email", "Email address", "required", "autofocus") }}
        {{ render_errors(login_user_form.email) }}
      </div>
      <div class="form-group">
        {{ render_input(login_user_form.password, "password", "Password", "required") }}
        {{ render_errors(login_user_form.password, "text-center") }}
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="y" id="remember" name="remember">
          <label class="form-check-label" for="remember">
            Remember me
          </label>
          {{ render_errors(login_user_form.remember, "text-center") }}
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit" value="Login">Login</button>
        <!-- <a href="#"><p class="password-link">Forgot your password?</p></a> -->
      </div>
  </div>
  <div class="image">
    <img class="banner-lg" src="{{ static_url_for('static', filename='img/team-banner-lg.svg') }}" aria-hidden="true">
  </div>
</section>


  </form>

</div>

{% endblock %}
{% include "footer.html" %}
