
// Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$btn-padding-x-xs:  .20rem !default;
$btn-padding-y-xs:  .12rem !default;
$input-btn-line-height-xs: 1.1 !default;

.btn-xs {
  // line-height: ensure proper height of button next to extra small input
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-sm, $input-btn-line-height-xs, $btn-border-radius-sm);
}
