// Filters (.filters)
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.filter-toggle {
  //mobile filter accordion toggler (hidden on desktop)
  display: flex;
  padding: 1.5rem 1rem 0rem 1rem;
  @include media-breakpoint-up(md) {
    display: none !important;
  }
  .btn {
    margin-left: auto;
  }
}
.filters {
  border-bottom: $border-width $border-color solid;
  @include media-breakpoint-up(md) {
    display: block !important;
    border-bottom-width: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      padding-top: 1rem;
      padding-bottom: 0;
      flex-direction: row;
    }

    .form-control {
      box-sizing: content-box;
      height: unset;
    }

    form:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  select,
  .input-group {
    width: auto;
    @include media-breakpoint-up(md) {
      max-width: 25%;
      flex-grow: 1;

      &:not(:last-child) {
        margin: 0 1rem 0 0;
      }
    }
  }

  .flat-datetime {
    background-color: $white;
  }

  .flat-datetime:not(.date-start) {
    border-top-left-radius: $border-radius !important;
    border-bottom-left-radius: $border-radius !important;
  }
  .flat-datetime .date-start {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
