
// Page header (.header)
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.header {
  background-color: $white;
  margin-top: -1px;
  padding: 2rem 0 2rem 0;
  z-index: 1;
  position: relative;
  @include media-breakpoint-up(md) {
    padding: 0 0 0 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  .actions {
    margin: .5rem 0;
    @include media-breakpoint-up(md) {
      margin-left: auto;
      margin: 0.5rem 0;
    }
  }
  .page-title {
    margin-right: 1rem;
    p {
      color: $text-muted;
      margin-bottom: 0;
    }
    .icon {
      margin-right: 0.25rem;
    }
    .page-title-meta {
      display: inline-flex;
      align-items: flex-start;
    }
  }
}


// Details page
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.details  {
  &.header{
    min-height: auto;
  }
  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
