// Patches for vendor styles

// Patch for hovered dropdown items in selectize
.form-control.selectize-control .selectize-dropdown .selectize-dropdown-content {
    .option.active, .option:active, .option:hover, .option:focus {
        color: $body-color !important;
    }
}

// Patch for the selectize no-results plugin
.dropdown-empty-message div {
    padding: 0.75rem 1.25rem !important;
}
