@media print {
  body {
    width: 21cm;
    height: 29.7cm;
    margin: 0mm 0mm 0mm 0mm;
    background-color: white !important;
  }

  .navbar-nav,
  #flDebugToolbarHandle,
  .hp-report-nav {
    display: none;
  }

  #daysHeader {
    break-before: always;
  }
  .order-md-down-last {
    order: -1 !important;
  }
  .order-md-down-first {
    order: 6 !important;
  }
}

.hp-pie-chart {
  position: relative;
  height: 350px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hp-bar-chart {
  position: relative;
  height: 300px;
  width: 600px;
}

.hp-report-input {
  width: 15rem;
  text-align: center;
}

@include media-breakpoint-down(md) {
  .order-md-down-last {
    order: 6;
  }
  .order-md-down-first {
    order: -1;
  }
}
