<div class="modal fade" id="add-existing-users" tabindex="-1" role="dialog" aria-labelledby="add-existing-users-label" aria-hidden="true"{% if request.url_rule.endpoint == 'views_admin.team_add_users' %} data-display-open="true" {% endif %}>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add-existing-users-label">{% trans %}Add users{% endtrans %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ url_for('views_admin.team_add_users', _team_id=team.id) }}" method="POST">
        {{ team_add_form.csrf_token }}
        <div class="modal-body">
          <div class="form-group">
          {% if team_add_form.csrf_token and team_add_form.csrf_token.errors %}
          <div class="alert alert-danger fade show flex-grow-1">
            {% trans %}CSRF error, please try again{% endtrans %}
          </div>
          {% endif %}
            <label class="col-form-label" for="users">{% trans %}Users{% endtrans %}</label>
            <select id="users" class="form-control form-control-lg custom-select" multiple name="users" data-url="{{ url_for('api_web_v1.users_get') }}">
            {% if team_add_form.users.data %}
            {% for user in team_add_form.users.data %}
              <option value="{{ user.id }}" selected>{{ user.name }}</option>
            {% endfor %}
            {% endif %}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
          <button type="submit" class="btn btn-lg btn-primary">{% trans %}Add users{% endtrans %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
