<div class="modal fade" id="addServerModal" tabindex="-1" role="dialog" aria-labelledby="addServerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-stage-1 modal-content fade show">
      <div class="modal-header">
        <h4 class="modal-title" id="addServerModalLabel">{% trans %}Add Server{% endtrans %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="new-server-form" action="{{ url_for('views_servers.add_server') }}" method="post">
        <div class="modal-body">
          {{ form.csrf_token }}
          {{ form_text_field("add_server", form.hostname, "dev.example.com") }}
          {{ form_text_field("add_server", form.link) }}
          {{ form_select_field("add_server", form.timezone) }}
          {{ form_checkbox_field("add_server", form.disable_missed_heartbeat_notif)}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
          <button class="btn btn-lg btn-primary" type="submit">{% trans %}Add server{% endtrans %}</button>
        </div>
      </form>
    </div>
    <div class="modal-stage-2 modal-content fade" aria-hidden="true">
      <div class="modal-header">
        <h4 class="modal-title">{% trans %}Server added{% endtrans %}</h4>
      </div>
      <div class="modal-body success">
        <p>{% trans %}Server API key:{% endtrans %}</p>
        <pre id="server-api-key"></pre>
        <i>{% trans %}This will not be shown again.{% endtrans %}</i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
      </div>
    </div>
  </div>
</div>
