
{% from "forms/macros.html.j2" import form_text_field %}

<div class="modal fade" id="add-role" tabindex="-1" role="dialog" aria-labelledby="add-role-label" aria-hidden="true"{% if request.url_rule.endpoint == 'views_admin.add_role' %} data-display-open="true" {% endif %}>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add-role-label">{% trans %}Add role{% endtrans %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ url_for('views_admin.add_role', _team_id=team.id) }}" method="POST">
        {{ add_role_form.csrf_token }}
        <div class="modal-body">
          {{ form_text_field("add_role", add_role_form.name) }}
          <i>{% trans %}Permissions can be added after creating the role.{% endtrans %}</i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
          <button type="submit" class="btn btn-lg btn-primary">{% trans %}Add{% endtrans %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
