<div class="modal fade" id="add-team" tabindex="-1" role="dialog" aria-labelledby="add-team-label" aria-hidden="true"{% if request.url_rule.endpoint == 'views_admin.add_team' %} data-display-open="true" {% endif %}>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add-team-label">{% trans %}Add team{% endtrans %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ url_for('views_admin.add_team') }}" method="POST">
        {{ add_team_form.csrf_token }}
        <div class="modal-body">
          {% if add_team_form.csrf_token  and add_team_form.csrf_token.errors %}
          <div class="alert alert-danger fade show flex-grow-1">
            {% trans %}CSRF error, please try again{% endtrans %}
          </div>
          {% endif %}
          {{ form_text_field("add_team", add_team_form.name) }}
          {{ form_select_field("add_team", add_team_form.escalates_to) }}
          {{ form_select_field("escalation_policy", add_team_form.escalation_policy) }}
          {{ form_select_field("timezone", add_team_form.timezone) }}
          <i>{% trans %}Users can be added after creating the team.{% endtrans %}</i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
          <button type="submit" class="btn btn-lg btn-primary">{% trans %}Add team{% endtrans %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
