<div class="modal fade" id="add-contact-method" tabindex="-1" role="dialog" aria-labelledby="add-team-label" aria-hidden="true"{% if request.url_rule.endpoint == 'views_account.add_contact_method' %} data-display-open="true" {% endif %}>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add-team-label">{% trans %}Add contact method{% endtrans %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ url_for('views_account.add_contact_method') }}" method="POST">
        {{ add_contact_form.csrf_token }}
        <div class="modal-body">
          {% if add_contact_form.csrf_token and add_contact_form.csrf_token.errors %}
          <div class="alert alert-danger fade show flex-grow-1">
            {% trans %}CSRF error, please try again{% endtrans %}
          </div>
          {% endif %}
          {{ form_select_field("add_contact", add_contact_form.method) }}
          {{ form_text_field("add_contact", add_contact_form.contact) }}
          {{ form_checkbox_field("add_contact", add_contact_form.send_pages) }}
          {{ form_checkbox_field("add_contact", add_contact_form.send_failures) }}
          <i>{% trans %}By selecting "send pages" you'll also recieve pager messages via this method while you're on-call.{% endtrans %}</i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
          <button type="submit" class="btn btn-lg btn-primary">{% trans %}Add{% endtrans %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
