<div class="modal fade" id="escalation-help" tabindex="-1" role="dialog" aria-labelledby="escalation-help-label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content fade show">
      <div class="modal-header">
        <h4 class="modal-title" id="escalation-help-label">{% trans %}About Escalations{% endtrans %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="p-3">
        {% trans %}
          <p>Escalations are a feature designed to make sure that issues are resolved if the first recipient of the
          notification fails to acknowledge it.</p>

          <p>For an alert to be escalated the following has to occur:</p>

          <ul>
            <li>The alert must have `EMERGENCY` priority (As defined in configuration)</li>
            <li>The team's escalation policy must apply (see below)</li>
            <li>The alert must not have been read by any of it's recipients by the escalation delay time (configured by original team)</li>
            <li>The alert must not have been escalated previously</li>
          </ul>

          <p>If all of these are true the alert will be sent to the on-call member of the escalated team. This alert
          will be visible on the notifications page of the escalated team.</p>

          <h6>Escalation Delay</h6>

          <p>This is how long a message must go unread before it is escalated (in minutes).</p>

          <p><i>Note: This does not apply if the policy is 'Outside Business Hours' and it is currently outside of
          business hours.</i></p>

          <h6>Policies</h6>

          <p>There are currently three escalation policies in Hot Potato.</p>

          <dl>
            <dt>Always</dt>
            <dd>Always escalate notifications if the above conditions apply. This is suitable for
          'mission-critical' services</dd>
            <dt>Outside Business Hours</dt>
            <dd>
              <p>
                Escalate notifications immediately outside of business hours, or after the delay inside business hours.
              </p>
              <p>
                This could be useful if you wanted the dev team (for example) to handle notifications inside business
                hours while escalating to another team outside of business hours when the dev team is not available.</dd>
              </p>
            <dt>Never</dt>
            <dd>Never escalate notifications</dd>
          </dl>
        {% endtrans %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
      </div>
    </div>
  </div>
</div>
