
<!-- Modal - Message tater (hidden until JS triggered) -->

<div class="modal fade" id="message-tater" tabindex="-1" role="dialog" aria-labelledby="taketater" aria-hidden="true"{% if request.url_rule.endpoint == 'views.send_message' %} data-display-open="true"{% endif %}>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="{{ url_for('views.send_message') }}" method="post">
        {{ message_form.csrf_token }}
        <div class="modal-header">
          <h4 class="modal-title text-center" id="exampleModalLabel">{% trans %}Message the tater holder{% endtrans %}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if message_form.csrf_token and message_form.csrf_token.errors %}
          <div class="alert alert-danger fade show flex-grow-1">
            {% trans %}CSRF error, please try again{% endtrans %}
          </div>
          {% endif %}
          <div class="form-group">
            <textarea class="form-control input-focused" id="message" name="message" placeholder="{% trans %}Message...{% endtrans %}">{% if message_form.message.data %}{{ message_form.message.data }}{% endif %}</textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
          <button type="submit" class="btn btn-lg btn-primary">{% trans %}Send{% endtrans %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
