
{% from "forms/macros.html.j2" import form_hidden_field, form_select_field %}
{% from "tables/permissions.html" import table_permissions with context %}

{% macro role_permission_add_modal(id, endpoint, role) %}
  {{ permission_add_modal(id, endpoint, "role", role.description, role) }}
{% endmacro %}

{% macro role_permissions_manage_modal(id, role, remove_endpoint, toggle_endpoint) %}
  {{ permissions_manage_modal(id, role.description, role, "role", remove_endpoint, toggle_endpoint) }}
{% endmacro %}

{% macro permission_add_modal(id, endpoint, type, title, obj) %}
  <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="{{ id }}-label">{% trans %}Add Permission{% endtrans %}<br>{{ title }}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form id="{{ id }}-form" action="{{ endpoint }}" method="POST">
          <div class="modal-body">
            {{ permission_add_form.csrf_token }}
            {{ form_hidden_field(id + "-form", permission_add_form.role_id, obj.id) }}
            {{ form_select_field(id + "-form", permission_add_form.permission_name) }}
            <a id="{{ id }}-description"></a>
            {{ form_select_field(id + "-form", permission_add_form.access) }}
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            <button class="btn btn-lg btn-primary" type="submit" name="action" value="add_permission">{% trans %}Add permission{% endtrans %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ul class="d-none permissions-descriptions" data-input="#{{ id }}-form-{{ permission_add_form.permission_name.id }}" data-output="#{{ id }}-description">
    {% for permission_name, data in permissions_list %}
      <li data-name="{{ permission_name }}" data-description="{{ data['description'] }}"></li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro permissions_manage_modal(id, title, obj, type, remove_endpoint, toggle_endpoint) %}
  <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}-label" aria-hidden="true"
    {% if (request.url_rule.endpoint == 'views_admin.toggle_permission' or request.url_rule.endpoint == 'views_admin.remove_permission') and request.form['role_id'] == obj.id|string %} data-display-open="true" {% endif %}
    >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="{{ id }}-label">{% trans %}Permissions{% endtrans %}<br>{{ title }}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          {{ table_permissions("team-permissions", obj, type, remove_endpoint, toggle_endpoint, flush=True) }}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
