
<!-- Modal - Take tater (hidden until JS triggered) -->

<div class="modal fade" id="take-tater" tabindex="-1" role="dialog" aria-labelledby="take-tater" aria-hidden="true"{% if request.url_rule.endpoint == 'views.do_handover' %} data-display-open="true"{% endif %}>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="{{ url_for('views.do_handover') }}" method="post">
        {{ handover_form.csrf_token }}
        <div class="modal-header">
          <h4 class="modal-title text-center" id="exampleModalLabel">{% trans %}So, you ain't no spec-tater...{% endtrans %}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if handover_form.csrf_token and handover_form.csrf_token.errors %}
          <div class="alert alert-danger fade show flex-grow-1">
            {% trans %}CSRF error, please try again{% endtrans %}
          </div>
          {% endif %}
          <div class="form-group">
            <textarea class="form-control input-focused" id="tater-message" name="message" placeholder="{% trans %}Optional handover message{% endtrans %}">{% if handover_form.message.data %}{{ handover_form.message.data }}{% endif %}</textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
          <button id="take-tater-submit-button" type="submit" class="btn btn-lg btn-primary">{% trans %}Take tater{% endtrans %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
