{% include "header.html" %}
{% include "menu.html" %}
<div class="header">
  <div class="container">
    {% include "messages.html" %}
  </div>
</div>

{% block head %}
{% endblock head %}

{% block body %}
{% endblock body %}

{% include "footer.html" %}
