{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}

{% block body %}

<div class="header">
  <div class="container">
    <div class="page-title">
      <h1 class="h3">Error</h1>
    </div>
    <div class="actions"> <!-- Actions menu -->
    </div>
  </div>
</div>
<div class="container mt-sm-3">
  <div class="card mb-sm-3">
    <div class="card-body">
      <div class="card-title">
        <h6 class="d-inline mr-sm-2"></h6>
      </div>
      <div class="card-text">
        <div></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% include "footer.html" %}
