{%- if num_failed_notifications %}
  <div class="alert alert-danger">
  {%- if num_failed_notifications == 1 -%}
    <p><center>{% trans number = num_failed_notifications %} There is {{ number }} <strong>failed</strong> notification - Trouble Code {% endtrans %}<a href="https://docs.hotpotato.nz/hotpotato001.html">HOTPOTATO001</a></center></p>
  {%- else -%}
    <p><center>{% trans number = num_failed_notifications %} There are {{ number }} <strong>failed</strong> notifications - Trouble Code {% endtrans %}<a href="https://docs.hotpotato.nz/hotpotato001.html">HOTPOTATO001</a></center></p>
  {%- endif -%}
  {%- if request.path != "/pages/failed" %}
    <p><center><a href="/pages/failed">{% trans %}Click here to view{% endtrans %}</a></center></p>
  {%- endif -%}
  </div>
{%- endif %}
