
    <!-- This page load was proudly brought to you by {{ node_name }}. -->
    <script src="{{ static_url_for('static', filename='js/build.js') }}"></script>
    <script src="{{ static_url_for('static', filename='debug_toolbar.js') }}"></script>
  </body>
</html>
