<!DOCTYPE html>
<html lang="{{ lang() }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url_for('static', filename='favicon/apple-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ static_url_for('static', filename='favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static_url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ static_url_for('static', filename='favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ static_url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#f5512a">
    <link rel="shortcut icon" href="{{ static_url_for('static', filename='favicon/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ static_url_for('static', filename='favicon/mstile-144x144.png') }}">
    <meta name="msapplication-config" content="{{ static_url_for('static', filename='favicon/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}Hot Potato{% endblock %}</title>

    <link href="{{ static_url_for('static', filename='css/index.css') }}" rel="stylesheet">

    {% block head %}
    {% endblock head %}
  </head>
  <body data-csrftoken="{{ csrf_token() }}">
