{% extends "base.html" %}

{% from "forms/macros.html.j2" import form_text_field, form_checkbox_field, form_select_field %}

{% block body %}

{% include "modals/add_server.html" %}

<!-- Page header -->

<div  id="server-header" class="header">
  <div class="container">
    <div class="page-title">
      <h1 class="h4">Servers</h1>
      <div class="page-title-meta">
        {% if num_missed_hbeats >= 1 %}
        <img class="icon" src="{{ static_url_for('static', filename='img/icons/icon-heartbeat-fail.svg') }}" alt="">
        {% endif %}
        {%- if num_missed_hbeats == 1 -%}
        <p>{{ num_missed_hbeats }} server has missed heartbeats <a href="{{ url_for('views_servers.get_servers', filter='missed-heat') }}">View</a></p>
        {%- elif num_missed_hbeats > 1 -%}
        <p>{{ num_missed_hbeats }} servers have missed heartbeats <a href="{{ url_for('views_servers.get_servers', filter='missed-hbeat') }}">View</a></p>
        {%- endif -%}
      </div>
    </div>
    <div class="actions"> <!-- Actions menu -->
      {% if rules.has_access_to("views_servers.add_server") %}
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addServerModal">Add server</button>
      {% endif %}
    </div>
  </div>
</div>


<!-- Filters -->
<form action="{{ url_for('views_servers.get_servers')}}" method="GET">
  <div id="server-filters" class="filters">
    <div class="container">
      <select class="form-control" id="sort-servers" name="filter">
        <option value="all"{% if not filter or filter == 'all' %} selected{% endif %}>All servers</option>
        <option value="missed-hbeat"{% if filter == 'missed-hbeat' %} selected{% endif %}>Missed heartbeat</option>
      </select>
    </div>
  </div>
</form>

<div id="servers" class="container">
  {% set can_toggle_missed_heartbeat = rules.has_access_to("views_servers.server_toggle_missed_heartbeat") %}
  {%- for serv in servs -%}
    {%- set missed_hbeat = not serv.last_hbeat or (now - serv.last_hbeat).seconds > 300 -%}

  <div class="list-group-item{% if missed_hbeat %} fire{% endif %}{% if serv.disable_missed_heartbeat_notif %} heartbeat-disabled{% endif %}">
    <div class="list-group-text">
      <h6 {% if serv.hostname|length > 60 %} title="{{ serv.hostname }}" data-toggle="tooltip"{% endif %}>{{ serv.hostname }}</h6>
      <div class="heartbeat">
        {%- if missed_hbeat -%}
        <img class="icon" src="{{ static_url_for('static', filename='img/icons/icon-heartbeat-fail.svg') }}" alt="">
        {%- else -%}
        <img class="icon icon-sm icon-secondary" src="{{ static_url_for('static', filename='img/icons/icon-heartbeat.svg') }}" alt="">
        {%- endif -%}
        {% if serv.last_hbeat %}
        <span data-toggle="tooltip" title="{{ format_datetime(serv.last_hbeat, "yyyy-MM-dd HH:mm:ss Z") }}">{{ format_datetime(serv.last_hbeat, "yyyy-MM-dd HH:mm" if current_user.use_24hr else "yyyy-MM-dd hh:mm a")}}</span>
        {% else %}
        <span>Never</span>
        {% endif %}
      </div>
      <div class="timezone"><img class="icon icon-secondary" src="{{ static_url_for('static', filename='img/icons/icon-time.svg') }}" alt="">{{ serv.timezone }}</div>
    </div>
    <div class="list-group-actions">
      <div class="custom-control custom-checkbox">
        <form
          action="{{ url_for('views_servers.server_toggle_missed_heartbeat', server_id=serv.id)}}"
          method="POST"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="checkbox" {% if not serv.disable_missed_heartbeat_notif %} checked="checked" {% endif %} class="custom-control-input alert-checkbox" id="customCheck{{ serv.id }}"{% if not can_toggle_missed_heartbeat %} disabled{% endif %}>
          <label  title="Heartbeat alerts enabled" data-toggle="tooltip" class="custom-control-label" for="customCheck{{ serv.id }}"><img class="icon" src="{{ static_url_for('static', filename='img/icons/icon-bell.svg')}}"></label>
        </form>
      </div>
      <a class="dropdown-toggle no-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="icon" src="{{ static_url_for('static', filename='img/icons/icon-more.svg') }}" alt="">
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-action">
        <a class="dropdown-item" href="{{ serv.link }}">Go to server url</a>
      </div>
    </div>
  </div>
  {%- endfor -%}

  </div>
</div>

{% endblock %}
