<nav class="navbar-custom navbar-light navbar-expand-sm">
  <a href="{{url_for('views_notifications.notifications_get')}}" class="navbar-brand"><img src="{{ static_url_for('static', filename='img/tater-logo-app.svg') }}" alt="{% trans %}Hot Potato Logo - A violently flaming potato{% endtrans %}"></a>
  <button class="navbar-toggler no-focus" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{% trans %}Toggle navigation{% endtrans %}">
    <img class="icon icon-navbar-toggler" src="{{ static_url_for('static', filename='img/icons/icon-hamburger.svg') }}" alt="{% trans %}Main menu button{% endtrans %}">
  </button>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item{% if request.url_rule.endpoint == 'views_notifications.notifications_get' or request.url_rule.endpoint == 'views.main_site' %} active{% endif %}">
          <a class="nav-link" href="{{url_for('views.main_site')}}">
            {% trans %}Notifications{% endtrans %}
            {% if request.url_rule.endpoint == 'views_notifications.notifications_get' or request.url_rule.endpoint == 'views.main_site' %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        {% if rules.has_access_to("views_servers.get_servers") %}
        <li class="nav-item{% if request.url_rule.endpoint == 'views_servers.get_servers' %} active{% endif %}">
          <a class="nav-link" href="{{url_for('views_servers.get_servers')}}">{% trans %}Servers{% endtrans %}</a>
          {% if request.url_rule.endpoint == 'views_servers.get_servers' %}<span class="sr-only">(current)</span>{% endif %}
        </li>
        {% endif %}
        {% if rules.has_access_to("views.report") %}
        <li class="nav-item{% if request.url_rule.endpoint == 'views.report' %} active{% endif %}">
          <a class="nav-link" href="{{url_for('views.report', start_date=last_thursday()[0], end_date=last_thursday()[1])}}">
            {% trans %}Report{% endtrans %}
            {% if request.url_rule.endpoint == 'views.report' %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        {% endif %}
        <li class="nav-item ml-auto">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{current_team.name}}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item p-2" href="?team_id={{current_team.id}}">{{current_team.name}}</a>
              {% set other_teams = current_user.teams|reject("eq", current_team) %}
              {% if other_teams %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item disabled p-1">{% trans %}Member Teams{% endtrans %}</a>
                {% for team in other_teams %}
                  <a class="dropdown-item p-2" href="?team_id={{team.id}}">{{team.name}}</a>
                {% endfor %}
              {% endif %}
              {% set escalated_from_teams = current_user.get_all_accessible_teams(exclude_joined=True)|reject("eq", current_team) %}
              {% if escalated_from_teams %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item disabled p-1">{% trans %}Viewable Teams{% endtrans %}</a>
                {% for team in escalated_from_teams %}
                  <a class="dropdown-item p-2" href="?team_id={{team.id}}">{{team.name}}</a>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </li>
        <li class="nav-item account dropdown">
          {# Caution: This element's id is used by the tests. #}
          <a class="nav-link dropdown-toggle" href="#" id="account-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ current_user.name|default(current_user.email, true) }}
            <img class="icon" src="{{ static_url_for('static', filename='img/icons/icon-user.svg') }}" aria-hidden="true">
          </a>
          <div class="dropdown-menu" aria-labelledby="account-dropdown">
            <a class="dropdown-item p-2" href="{{url_for('views_account.manage_account')}}">{% trans %}Account Settings{% endtrans %}</a>
            <a class="dropdown-item p-2" href="{{url_for('security.change_password')}}">{% trans %}Change Password{% endtrans %}</a>
            {% if rules.has_access_to("views_admin.admin") %}
              <a class="dropdown-item p-2" href="{{url_for('views_admin.admin')}}">{% trans %}Admin{% endtrans %}</a>
            {% elif rules.has_access_to("views_admin.manage_team") %}
              <a class="dropdown-item p-2" href="{{url_for('views_admin.manage_team', _team_id=current_team.id)}}">{% trans %}Admin{% endtrans %}</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item p-2" href="{{url_for('security.logout')}}">{% trans %}Logout{% endtrans %}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
