{% extends "base.html" %}

{% block body %}
<div class="container-fluid bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="justify-content-center">{% trans %}Hot Potato Report{% endtrans %}</h1>
    </div>
    <div class="row justify-content-center mb-3 hp-report-nav">
      <a class="align-self-center" href="{{ url_for('views.report', start_date=prev_report_start, end_date=prev_report_end) }}">❮</a>
      <form class="form-inline">
        <input type="hidden" name="team_id" value="{{ current_team.id }}"/>
        <input id="hp-range-input" type="text" class="form-control hp-report-input" value="{{ format_date(start_time, 'yyyy-MM-dd') }} to {{ format_date(end_time, 'yyyy-MM-dd') }}" readonly/>
        <input id='hp-report-start-input' type="hidden" name="start_date" value="{{ format_date(start_time, 'yyyy-MM-dd') }}"/>
        <input id='hp-report-end-input' type="hidden" name="end_date" value="{{ format_date(end_time, 'yyyy-MM-dd') }}"/>
        <button class="btn btn-primary ml-3" type="submit">{% trans %}Apply{% endtrans %}</button>
      </form>
      <a class="align-self-center" href="{{ url_for('views.report', start_date=next_report_start, end_date=next_report_end) }}">❯</a>
    </div>
    <div class="row justify-content-center">
      <h3>{{ format_datetime(start_time, 'yyyy-MM-dd ha') }} to {{ format_datetime(end_time, 'yyyy-MM-dd ha') }}</h3>
    </div>

    <div class="pie-report-section">
      <div class="row justify-content-center pb-4">
        <h4>{% trans %}Types of messages sent{% endtrans %}</h4>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm">
          <div class="hp-pie-chart">
            <canvas id="typeChart"></canvas>
          </div>
        </div>
        <div class="col-sm">
          <ul id="typeList" class="list-group list-group-flush">
              <li class="list-group-item" data-name="{% trans %}Alerts{% endtrans %}" data-amount="{{ notif_type_counts.get('alert', 0) }}" data-colour="#500926"><span style="color:#500926;">⬤</span> {% trans %}Alerts{% endtrans %} <span class="float-right">{{ notif_type_counts.get("alert", 0) }}</span></li>
              <li class="list-group-item" data-name="{% trans %}Handovers{% endtrans %}" data-amount="{{ notif_type_counts.get('handover', 0) }}" data-colour="#F5512A"><span style="color:#F5512A;">⬤</span> {% trans %}Handovers{% endtrans %} <span class="float-right">{{ notif_type_counts.get("handover", 0) }}</span></li>
              <li class="list-group-item" data-name="{% trans %}Messages{% endtrans %}" data-amount="{{ notif_type_counts.get('message', 0) }}" data-colour="#84202a"><span style="color: #84202a;">⬤</span> {% trans %}Messages{% endtrans %} <span class="float-right">{{ notif_type_counts.get("message", 0) }}</span></li>
              {% if test_pages > 0 %}
              <li class="list-group-item" data-name="{% trans %}Page Tests{% endtrans %}" data-amount="{{ test_pages }}" data-colour="#bb382c"><span style="color: #bb382c">⬤</span> {% trans %}Page Tests{% endtrans %} <span class="float-right">{{ test_pages }}</span></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="pie-report-section">
      <div class="row justify-content-center pb-4">
        <h4>{% trans %}Business hours vs Out of hours{% endtrans %}</h4>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm order-md-down-last">
          <ul id="hoursList" class="list-group list-group-flush">
            <li class="list-group-item" data-name="{% trans %}OOH{% endtrans %}" data-amount="{{ ooh_pages }}"><span style="color:#500926">⬤</span> {% trans %}[OOH]{% endtrans %}  <span class="float-right">{{ ooh_pages }}</span></li>
            <li class="list-group-item" data-name="{% trans %}BH{% endtrans %}" data-amount="{{ bh_pages }}"><span style="color:#F5512A;">⬤</span> {% trans %}[BH]{% endtrans %}   <span class="float-right">{{ bh_pages }}</span></li>
          </ul>
        </div>
        <div class="col-sm order-md-down-first">
          <div class="hp-pie-chart">
            <canvas id="hoursChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="pie-report-section">
      <div class="row justify-content-center pb-4">
        <h4>{% trans %}Servers sending alerts{% endtrans %}</h4>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm">
          <div class="hp-pie-chart">
            <canvas id="serversChart"></canvas>
          </div>
        </div>
        <div class="col-sm">
          <ul id="serversList" class="list-group list-group-flush">
            {% for server in server_count %}
              <li class="list-group-item" data-name="{{ server.hostname }}" data-amount="{{ server.count }}" data-colour="{{ server_colours[loop.index0] }}"><span style="color: {{ server_colours[loop.index0] or '#e5e5e5' }};">⬤</span> {{ server.hostname }} <span class="float-right">{{ server.count }}</span></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% if tag_count %}
    <div class="pie-report-section">
      <div class="row justify-content-center pb-4">
        <h4>{% trans %}Tags{% endtrans %}</h4>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm order-md-down-last">
          <ul id="tagList" class="list-group list-group-flush">
            {% for tag in tag_count %}
              <li class="list-group-item" data-name="{{ tag.name }}" data-amount="{{ tag.count }}" data-colour="{{ server_colours[loop.index0] }}"><span style="color: {{ server_colours[loop.index0] or '#e5e5e5' }};">⬤</span> {{ tag.name }} <span class="float-right">{{ tag.count }}</span></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm order-md-down-first">
          <div class="hp-pie-chart">
            <canvas id="tagChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div id="daysHeader" class="row justify-content-center pb-4">
      <h4>{% trans %}Alerts per day{% endtrans %}</h4>
    </div>
    <div class="row justify-content-center">
      <ul id="daysData" class="d-none">
        {% for day, value in bh_pages_days.items() %}
        <li data-name="{{ format_date(day, 'EEEE') }}" data-date="{{ format_date(day, 'yyyy-MM-dd') }}" data-ooh="{{ ooh_pages_days.get(day, 0) }}" data-bh="{{ value }}"></li>
        {% endfor %}
      </ul>
      <div class="hp-bar-chart">
        <canvas id="daysChart" data-bh="{% trans %}Business Hours{% endtrans %}" data-ohh="{% trans %}Out Of Hours{% endtrans %}"></canvas>
      </div>
    </div>


    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">{% trans %}Count{% endtrans %}</th>
          <th scope="col">{% trans %}Message{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for count in notif_counts %}
          <tr>
            <td>{{ count.count }}</td> <td>{% if count.trouble_code == '' %}NOTC{% else %}{{ count.trouble_code }}{% endif %} {{ count.display_name }} {{ count.service_name }} state is {{ count.state }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
