{% extends "base.html" %}
{% from "forms/macros.html.j2" import form_text_field, form_checkbox_field, form_select_field %}

{% block body %}

<div class="header">
  <div class="container">
    <div class="page-title">
      <h1 class="h3">{% trans %}Admin{% endtrans %}</h1>
    </div>
    <div class="actions"> <!-- Actions menu -->
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#add-team">{% trans %}Add team{% endtrans %}</button>
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#add-user">{% trans %}Add user{% endtrans %}</button>
    </div>
  </div>
</div>

<div class="container mt-sm-3 mb-sm-3">
  <h4>{% trans %}Teams{% endtrans %}</h4>
</div>

<div class="container">
  {% for team in teams %}
  <div class="card mb-sm-3">
    <div class="card-body">
      <div class="card-title">
        <h6 class="d-inline mr-sm-2"><a href="{{url_for('views_admin.manage_team', _team_id=team.id)}}">{{team.name}}</a></h6>
        {% if team.on_call %}
        <span class="badge badge-secondary">{% trans team_name = team.on_call.name|default(team.on_call.email) %}On call: {{team_name}}{% endtrans %}</span>
        {% endif %}
        {% if team.id == hotpotato_team().id %}
        <span class="badge badge-primary">{% trans %}Administrator{% endtrans %}</span>
        {% endif %}
      </div>
      <div class="card-text">
        <div>
          {% if team.escalates_to %}
            {% trans escalate_name=team.escalates_to.name, link=url_for('views_admin.manage_team', _team_id=team.escalates_to.id) %}Escalates to <a href="{{ link }}">{{ escalate_name }}</a>{% endtrans %}
          {% else %}
            {% trans %}Does not escalate{% endtrans %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% include "modals/add_team.html" %}

{% include "modals/add_user.html" %}

{% endblock %}
