{% include "header.html" %}
{% include "menu.html" %}
{% block body %}

{% include "messages.html" %}

<h2>{% trans %}Contact Methods{% endtrans %}</h2>

<p>{% trans %}<b>NOTE:</b> Toggling these options doesn't do what you'd expect, talk to James.{% endtrans %}</p>

<p>{% trans %}The plan: In the event that a particular method isn't working, an admin will be able to come here and globally toggle it off / on (probably with an actual form and some kind of "Yes I'm sure") - This will need some pretty massive code restructuring but it could potentially be useful one day at 3am.{% endtrans %}</p>


<table border="1">
<tr>
  <td>{% trans %}ID{% endtrans %}</td>
  <td>{% trans %}Name{% endtrans %}</td>
  <td>{% trans %}Enabled{% endtrans %}</td>
</tr>
{%- for contact in the_contact_methods %}
<tr>
  <td>{{ contact.id }}</td>
  <td>{{ contact.name }}</td>
{% if contact.enabled %}
  <td><a href="/admin/contact-methods/disable/{{ contact.id }}"><center>✓</center></a></td>
{% else %}
  <td><a href="/admin/contact-methods/enable/{{ contact.id }}"><center>✗</center></a></td>
{% endif %}
</tr>
{%- endfor %}

{% endblock %}
{% include "footer.html" %}
