{% extends "base.html" %}

{% from "tables/permissions.html" import table_permissions with context %}

{% set endpoint = url_for("views_admin.manage_team", _team_id=team.id) %}

{% block body %}

{# Used in JS #}
<div id="team-id" aria-hidden="true" class="d-none">{{team.id}}</div>

<div class="header">
  <div class="container">
    <div class="page-title">
      <h1 class="h4">{{team.name}}</h1>
    </div>
    <div class="actions"> <!-- Actions menu -->
      <form class="form-inline" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if rules.has_access_to("views_admin.team_add_users") %}
        <div class="mr-sm-2">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-existing-users">{% trans %}Add existing users{% endtrans %}</button>
        </div>
        {% endif %}
        <div class="mr-sm-2">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-role">{% trans %}Add Role{% endtrans %}</button>
        </div>
        <div>
          <button
            name="action"
            class="btn btn-danger"
            type="submit" value="delete"
            {% if team.id == hotpotato_team().id or team.escalated_from|length > 0 %}
            disabled
            {% endif %}>
            {% trans %}Remove team{% endtrans %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-sm-3">
  <div class="card">
    <div class="card-body">
      <div class="row justify-content-between px-3">
        <h6 class="d-inline">{% trans %}Settings{% endtrans %}</h6>
        <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#escalation-help" >About Escalations</button>
      </div>
      <div class="row px-3">
        <form method="POST" class="w-100">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="hidden" name="action" value="team_settings">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="escalates-to" class="col-form-label mr-sm-3">{% trans %}Escalates to{% endtrans %}</label>
                <select 
                  id="escalates-to" 
                  name="escalates_to" 
                  class="form-control"
                >
                  <option value>{% trans %}None{% endtrans %}</option>
                  {% for other in teams %}
                    <option {% if team.escalates_to == other %}selected{% endif %} value="{{other.id}}">{{other.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="escalation-policy" class="col-form-label mr-sm-3">{% trans %}Escalation policy{% endtrans %}</label>
                <select 
                  id="escalation-policy" 
                  name="escalation_policy"
                  class="form-control"
                >
                  <option 
                    {% if team.escalation_policy == EscalationPolicy.Never %}selected{%endif%} 
                    value="Never">
                    {% trans %}Never{% endtrans %}
                  </option>
                  <option 
                    {% if team.escalation_policy == EscalationPolicy.OutsideBusinessHours %}selected{%endif%} 
                    value="OutsideBusinessHours">
                    {% trans %}Outside Business Hours{% endtrans %}
                  </option>
                  <option 
                    {% if team.escalation_policy == EscalationPolicy.Always %}selected{%endif%} 
                    value="Always">
                    {% trans %}Always{% endtrans %}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="escalation-delay" class="col-form-label mr-sm-3">{% trans %}Escalation delay (minutes){% endtrans %}</label>
                <input 
                  id="escalation-delay" 
                  type="number"
                  name="escalation_delay_mins" 
                  class="form-control"
                  value="{{team.escalation_delay_mins}}"
                  min="0"
                >
                </input>
              </div>
              <div class="form-group">
                <label for="timezone" class="col-form-label mr-sm-3">{% trans %}Timezone{% endtrans %}</label>
                <select 
                  id="timezone" 
                  name="timezone"
                  class="form-control"
                >
                  {% for timezone in timezones %}
                    <option {% if team.timezone == timezone %}selected{%endif%} >
                      {{timezone}}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container mt-sm-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <h6 class="mb-sm-3">{% trans %}Users{% endtrans %}</h6>
          <table class="table">
            <thead>
              <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Primary team{% endtrans %}</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for user in team.users %}
                <tr>
                  <th><a href="{{ url_for('views_users.get', user_id=user.id) }}">{{user.name}}</a></th>
                  <th>{{user.primary_team.name}}</th>
                  <th>
                    {% if team.on_call.id == user.id %}
                      <span class="badge badge-primary">{% trans %}On call{% endtrans %}</span>
                    {% endif %}
                    {% for role in user.roles if role.team_id == team.id %}
                      <span class="badge badge-secondary">{{role.description}}</span>
                    {% endfor %}
                  </th>
                  <th>
                    <a class="dropdown-toggle btn-icon no-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="icon" src="{{ static_url_for('static', filename='img/icons/icon-more.svg') }}" alt=""></a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-action">
                      <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="user" value="{{user.id}}">
                        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#manage-roles-{{user.id}}">{% trans %}Manage roles{% endtrans %}</button>
                        {% if user.primary_team.id != team.id %}
                          <button type="submit" class="dropdown-item" name="action" value="set_primary">{% trans %}Set primary{% endtrans %}</button>
                        {% endif %}
                        <button
                          type="submit"
                          class="dropdown-item"
                          name="action"
                          value="remove_user"
                          {% if user.primary_team.id == team.id or team.on_call.id == user.id %}
                          disabled
                          {% endif %}
                          >{% trans %}Remove{% endtrans %}</button>
                      </form>
                    </div>

                  </th>
                </tr>
              {% else %}
                <tr>
                  <th colspan="3" class="text-center">{% trans %}No users{% endtrans %}</th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-5">
          <h6 class="mb-sm-3">{% trans %}Roles{% endtrans %}</h6>
          <ul class="list-group">
            {% for role in team.roles %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {{role.description}}
                <a class="dropdown-toggle btn-icon no-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="icon" src="{{ static_url_for('static', filename='img/icons/icon-more.svg') }}" alt=""></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-action">
                  <button type="button" class="dropdown-item" data-toggle="modal" data-target="#role-permission-add-{{ role.id }}">{% trans %}Add new permission{% endtrans %}</button>
                  <button type="button" class="dropdown-item" data-toggle="modal" data-target="#role-permissions-manage-{{ role.id }}">{% trans %}Manage permissions{% endtrans %}</button>
                  <form action="{{ url_for('views_admin.remove_role', _team_id=team.id) }}" method="POST">
                    <input type="hidden" name="role_id" value="{{ role.id }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit" class="dropdown-item">{% trans %}Remove{% endtrans %}</button>
                  </form>
                </div>
              </li>
            {% endfor %}
          </ul>
          {% if feature_tags %}
          <h6 class="mb-sm-3 mt-3">Tags</h6>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for tag in team.tags %}
              <tr>
                <td>{{ tag.name }}</td>
                <td>
                  <a
                    class="btn btn-primary"
                    type="submit"
                    href="{{ url_for('views_admin.edit_tag', tag_id=tag.id, _team_id=team.id) }}"
                    >Edit</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <form action="{{ url_for('views_admin.add_tag', _team_id=team.id) }}" method="post">
            {{ tag_form.csrf_token }}
            <div class="form-row align-items-center">
                <label for="{{ tag_form.name.id }}" class="sr-only">New Tag Name</label>
                <input type="{{ type }}"
                  id="{{ tag_form.name.id }}"
                  class="form-control{% if tag_form.name.errors %} is-invalid{% endif %} col-sm-8"
                  name="{{ tag_form.name.name }}"
                  {% if tag_form.name.data %}value="{{tag_form.name.data}}"{% endif %}
                  {% if tag_form.name.flags.required %}required{% endif %}>
              <button class="btn btn-primary col-auto ml-2" type="submit">Add Tag</button>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include "modals/add_existing_users.html" %}
{% include "modals/escalation_help.html" %}
{% include "modals/add_role.html" %}

{% for user in team.users %}
  {% from "modals/manage_roles.html" import role_modal %}
  {{ role_modal(user, team.roles) }}
{% endfor %}

{% for role in team.roles %}
  {% from "modals/permissions.html" import role_permission_add_modal, role_permissions_manage_modal with context %}
  {{ role_permission_add_modal("role-permission-add-" + role.id|string, endpoint, role) }}
  {{ role_permissions_manage_modal("role-permissions-manage-" + role.id|string, role, url_for("views_admin.remove_permission", _team_id=team.id), url_for("views_admin.toggle_permission", _team_id=team.id)) }}
{% endfor %}

{% endblock %}
