
{% macro table_permissions(id, obj, type, remove_endpoint, toggle_endpoint, flush=False) %}
  {% set permissions = obj.permissions %}
  {% if permissions %}
    <ul class="list-group{% if flush %} list-group-flush{% endif %}">
      {% for permission in permissions %}
        {% from "forms/macros.html.j2" import form_hidden_field, form_select_field %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a data-toggle="tooltip" title="{{ permission.permission.description }}.">{{ permission.permission.name }}</a>

          <div class="d-flex flex-row align-items-center">
            <form
              action="{{ toggle_endpoint }}"
              method="POST"
            >
              {{ permission_toggle_form.csrf_token }}
              {{ form_hidden_field(id + "-form-toggle-" + permission.id|string, permission_toggle_form.role_id, obj.id) }}
              {{ form_hidden_field(id + "-form-toggle-" + permission.id|string, permission_toggle_form.permission_name, permission.permission.name) }}
                <button id="{{ id }}-button-toggle-{{ permission.id }}" class="btn btn-secondary mr-sm-1" type="submit" data-toggle="tooltip" title="{% trans %}Toggle permission{% endtrans %}">
                  {{ "ALLOW" if permission.access else "DENY" }}
                </button>
            </form>

            <form
              action="{{ remove_endpoint }}"
              method="POST"
            >
              {{ permission_remove_form.csrf_token }}
              {{ form_hidden_field(id + "-form-remove-" + permission.id|string, permission_remove_form.role_id, obj.id) }}
              {{ form_hidden_field(id + "-form-remove-" + permission.id|string, permission_remove_form.permission_name, permission.permission.name) }}
              <button id="{{ id }}-button-remove-{{ permission.id }}" class="btn btn-sm btn-danger ml-sm-1" type="submit" name="action" value="remove_permission" data-toggle="confirmation" data-title="{% trans %}Remove permission?{% endtrans %}"><span>&times;</span></button>
            </form>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <a>{% trans %}No permissions set.{% endtrans %}</a>
  {% endif %}
{% endmacro %}
