{% macro display_notifications(notifications, acknowledge_form, tags) %}
  {% set ns = namespace(date=None) %}
  {% set has_access_to_acknowledge = rules.has_access_to("views_notifications.acknowledge") %}
  {% for notif in notifications %}
    {% set notif_date = format_date(notif.received_dt, 'full') %}
    {% if notif_date != ns.date %}
      {% if ns.date %}
        {# Close the previous 'notif-group' tag #}
        </div>
      {% endif %}
      <div class="container notif-group">
        <div class="date">{{ notif_date }}</div>
      {% set ns.date = notif_date %}
    {% endif %}
    <div class="card-wrapper">
      {% if notif.notif_type == "alert" %}
      <a class="server-link" href="{{ notif.server.link }}"><img class="icon" src="{{ static_url_for('static', filename='img/icons/icon-external-link.svg') }}" alt=""></a>
      {% endif %}
      <a class="dropdown-toggle btn-icon no-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="icon" src="{{ static_url_for('static', filename='img/icons/icon-more.svg') }}" alt=""></a>
      <div class="dropdown-menu dropdown-menu-right dropdown-action" aria-labelledby="navbarDropdown">
        <a
          class="dropdown-item"
          href="{{ url_for('views_notifications.notifications_get_by_id', notif_id=notif.id) }}">
          Details
        </a>
        <button
          type="button"
          class="dropdown-item link-copy"
          data-clipboard-text="{{ request.url_root }}{{ url_for('views_notifications.notifications_get_by_id', notif_id=notif.id)[1:] }}">
          Copy link
        </a>
        <button
          type="button"
          class="dropdown-item link-copy"
          data-clipboard-text="{{ notif.body(user=current_user) }}">
          Copy summary
        </button>
        {% if notif.json['status'] == 'SEND_FAILED' and has_access_to_acknowledge %}
          <form
            action="{{url_for('views_notifications.acknowledge',
            notif_id=notif.id, **request.args)}}"
            method="POST">
            {{acknowledge_form.csrf_token}}
            <button class="text-danger dropdown-item">Acknowledge</button>
          </form>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-toggle="collapse" href="#collapse{{ notif.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
          Show raw data
        </a>
      </div>
      <div class="card{% if notif.is_critical or notif.failed_to_send() %} fire{% endif %}{%if notif.escalations|length != 0 %} danger{% endif %}">
        {{ render_notification_icon(notif) }}
        {{ render_notification_card(notif, tags) }}
        </div>
      </a>
    </div>
  {% endfor %}

  {% if ns.date %}
  {# Close the previous 'notif-group' tag #}
  </div>
  {% endif %}
{% endmacro %}

{% macro render_notification_icon(notif, link=True) %}
  {% if notif.notif_type == "alert" %}
    {% if notif.is_critical %}
      {% set title = "Critical Alert" %}
      {% set icon = static_url_for('static', filename='img/icons/icon-fire.svg') %}
    {% elif notif.json["state"] == "WARNING" %}
      {% set title = "Warning" %}
      {% set icon = static_url_for('static', filename='img/icons/icon-alert.svg') %}
    {% elif notif.json["state"] == "UP" or notif.json["state"] == "OK" %}
      {% set title = "Status update" %}
      {% set icon = static_url_for('static', filename='img/icons/icon-thumb-up.svg') %}
    {% else %}
      {% set title = "Alert" %}
      {% set icon = static_url_for('static', filename='img/icons/icon-alert.svg') %}
    {% endif %}
  {% elif notif.notif_type == "handover" %}
    {% set title = "Handover" %}
    {% set icon = static_url_for('static', filename='img/icons/icon-next.svg') %}
  {% elif notif.notif_type == "message" %}
    {% set title = "Message" %}
    {% set icon = static_url_for('static', filename='img/icons/icon-message.svg') %}
  {% else %}
    {% set title = "Notification" %}
    {% set icon = static_url_for('static', filename='img/icons/icon-message.svg') %}
  {% endif %}
  {% if link %}
  <a href="{{ url_for('views_notifications.notifications_get_by_id',
    notif_id=notif.id) }}" class="card-icon"
    data-toggle="tooltip" data-placement="top" title="{{ title }}">
  {% endif %}
    <img class="icon" src="{{ icon }}" alt="{{ title }}">
  {% if link %}
  </a>
  {% endif %}
{% endmacro %}

{% macro render_notification_title(notif) %}
  {% if notif.notif_type == "alert" %}
    {% if notif.json["service_name"] %}
      <span class="service">{{ notif.json["service_name"] }}</span>
      <span class="text-subtle"> on </span>
    {% endif %}
    <span class="hostname"{% if notif.json["display_name"] %} data-toggle="tooltip" data-placement="top" title="{{ notif.json["display_name"] }}"{% endif %}>
      {{ notif.json["hostname"] }}
    </span>
  {% elif notif.notif_type == "handover" %}
    {%- set to_user = notif.to_user -%}
    {%- set from_user = notif.from_user -%}
    {% if to_user %}
      <span class="tater-holder">{{ render_user(to_user, link=False) }}</span>
    {% else %}
      <span class="tater-holder">No one</span>
    {% endif %}
    {% if from_user %}
      <span class="text-subtle">has taken over the pager from</span>
      <span class="tater-giver">{{ render_user(from_user, link=False) }}</span>
    {% else %}
      <span class="text-subtle">has taken the pager</span>
    {% endif %}
  {% elif notif.notif_type == "message" %}
    {%- set from_user = notif.from_user -%}
    {% if from_user %}
      {{ render_user(from_user, link=False) }}
    {% else %}
      Hot Potato
      <span class="badge badge-secondary font-weight-normal">internal</span>
    {% endif %}
  {% else %}
  {% endif %}
  {% if notif.json["trouble_code"] and config.get('HOTPOTATO_TROUBLECODE_URL') -%}
    &mdash; <a href="{{ config.get('HOTPOTATO_TROUBLECODE_URL').format(trouble_code=notif.json['trouble_code']) }}">{{ notif.json["trouble_code"] }}</a>
  {%- endif -%}
{% endmacro %}

{% macro render_notification_card(notif, tags) %}
  {% set notif_time = format_datetime(notif.received_dt, "yyyy-MM-dd HH:mm" if current_user.use_24hr else "yyyy-MM-dd hh:mm a") %}
  {% set notif_dt = format_datetime(notif.received_dt, "yyyy-MM-dd HH:mm:ss Z") %}
  <div class="card-body" data-id="{{ notif.id }}" data-team-id="{{ notif.team.id }}">
    <div class="card-title">
      <h2 class="h6">{{render_notification_title(notif)}}</h2>
    </div>
    <div class="card-text">
      <div>
        <span class="time" data-toggle="tooltip" title="{{ notif_dt }}">{{ notif_time }}</span>
        <span class="message">
          {% set truncate_len = 500 %}
          {% set elipsis = render_elipsis(link=url_for('views_notifications.notifications_get_by_id', notif_id=notif.id)) %}
          {% if notif.notif_type == "alert" %}
            {% set hyphen = joiner(" - ") %}
            {% if notif.json['state'] %}
              {{ hyphen() }}
              <span data-toggle="tooltip" title="Status">{{ notif.json['state'] }}</span>
            {% endif %}
            {% if notif.json['output'] %}
              {{ hyphen() }}
              <span class="message">{{ notif.json['output']|truncate(truncate_len, end=elipsis) }}</span>
            {% endif %}
          {% elif notif.notif_type in ["handover", "message"] %}
            {% if notif.json['message'] %}
              {{ notif.json['message']|truncate(truncate_len, end=elipsis) }}
            {% else %}
              <i>(No message)</i>
            {% endif %}
          {% else %}
            {{ notif.body|truncate(truncate_len, end=elipsis) }}
          {% endif %}
        </span>
      </div>
      {% if notif.notif_type == "alert" and feature_tags %}
      <div class="d-flex flex-row">
        <span class="label-group d-inline-flex">
          {%- for tag in notif.tags -%}
            <a href="{{ util.add_query_args(tag=tag.name) }}" class="badge badge-secondary mr-1" data-id="{{ tag.id }}">{{ tag.name }}</a>
          {%- endfor -%}
        </span>
        <div class="btn-group">
      <button class="btn btn-secondary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Add tag">
        +<span class="caret"></span>
      </button>
      <div class="dropdown-menu tag-dropdown">
        {%- for tag in notif.team.tags -%}
        <a class="dropdown-item add-tag" href="#" data-id="{{ tag.id }}" data-added="{% if tag in notif.tags %}true{% else %}false{% endif %}">
          {{- tag.name -}}{%- if tag in notif.tags -%}
          <img class="icon" src="{{ static_url_for('static', filename='img/icons/icon-thumb-up.svg') }}" alt="">
          {%- endif -%}
        </a>
        {%- endfor -%}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for('views_admin.manage_team', _team_id=notif.team.id) }}">Manage Tags</a>
      </div>
    </div>

      </div>
      {% endif %}
      <div class="delivery">
        <div>
          {% if notif.send_attempts|length == 0 %}
            Not yet sent
          {% elif notif.send_attempts|length == 1 %}
            {{render_status(notif.send_attempts[0])}}
          {% else %}
            {% set recipients = set(notif.send_attempts|map(attribute='user'))|length %}
            Sent {{notif.send_attempts|length}} times to {{recipients}} recipient{% if recipients > 1 %}s{% endif %}
          {% endif %}
        </div>
        {% if notif.escalations|length > 0 %}
          {% if notif.team_id != current_team.id %}
          <div>
            Escalated from {{notif.team.name}}
          </div>
          {% else %}
          <div>
            Escalated to {{ notif.escalations[0].escalated_to.name }}
          </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="collapse" id="collapse{{ notif.id }}">
        <hr />
        <code><pre class="mb-0">{{ notif.as_json(indent=2) }}</pre></code>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_notification_details(notif) %}
  <table class="table">
    <tbody>
      {% if notif.notif_type == "alert" %}
        {% if feature_tags %}
        <tr>
          <th>Tags</th>
          <td>
            <p>
              <span class="label-group">
                {%- for tag in notif.tags -%}
                  <a href="{{ url_for('views_notifications.notifications_get', tag=tag.name) }}" class="badge badge-secondary mr-1" data-id="{{ tag.id }}">{{ tag.name }}</a>
                {%- endfor -%}
              </span>
            </p>
          </td>
        </tr>
        {% endif %}
        <tr>
          <th>State</th>
          <td>{{notif.json["state"]}}</td>
        </tr>
        {% if notif.json["alert_type"] == "service" %}
          <tr>
            <th>Service</th>
            <td>{{notif.json["service_name"]}}</td>
          </tr>
        {% endif %}
        <tr>
          <th>Host</th>
          <td>{{notif.json["hostname"]}}</td>
        </tr>
        <tr>
          <th>Source</th>
          <td>{{notif.server.hostname}}</td>
        </tr>
        <tr>
          <th>Server time</th>
          <td>
            {{format_datetime(
              util.datetime_get_from_string(
                notif.json["timestamp"]
              ), "yyyy-MM-dd HH:mm:ss" if current_user.use_24hr else "yyyy-MM-dd hh:mm:ss a"
            )}}
          </td>
        </tr>
        <tr>
          <th>Output</th>
          <td>
            <textarea disabled class="form-control
            notif-message expanded">{{notif.json["output"]}}</textarea>
          </td>
        </tr>
      {% endif %}
      {% if "from_user_id" in notif.json and notif.json["from_user_id"] != None %}
        <tr>
          <th>From</th>
          <td>{{render_user(notif.from_user)}}</td>
        </tr>
      {% endif %}
      {% if "to_user_id" in notif.json and notif.json["to_user_id"] != None %}
        <tr>
          <th>To</th>
          <td>{{render_user(notif.to_user)}}</td>
        </tr>
      {% endif %}
      {% if notif.json["message"] %}
          <tr>
            <th>Message</th>
            <td><textarea disabled class="form-control notif-message expanded">{{notif.json["message"]}}</textarea></td>
          </tr>
      {% endif %}
    </tbody>
  </table>
{% endmacro %}

{% macro render_status(attempt) %}
  {% if attempt.has_been_received_by_client() %}
    Received by client
  {% elif attempt.has_been_sent() %}
    Sent
  {% elif attempt.failed_to_send() %}
    Send failed
    {% if attempt.send_failed_acknowledged() %}
      (Acknowledged)
    {% endif %}
  {% else %}
    Not yet sent
  {% endif %}
{% endmacro %}

{% macro render_user(user, link=False) %}
  {% if link %}
  <a href="#">
  {% endif %}
    {{ user.name }}
  {% if link %}
  </a>
  {% endif %}
{% endmacro %}

{% macro render_elipsis(link=False) -%}
  {% if link %}
  <a href="{{ link }}">
  {% endif %}
      &hellip;
  {% if link %}
  </a>
  {% endif -%}
{%- endmacro %}
