{% extends "base.html" %}

{% block body %}

{% include "modals/message.html" %}
{% include "modals/take.html" %}

<div class="header">
  <div class="container">
    <div class="page-title">
      <h1 class="h4">{{ heading }}</h1>
      {% if i_can_figure_out_this_condition %}
      <div class="page-title-meta">
        <img class="icon" src="{{ static_url_for('static', filename='img/icons/icon-fire.svg') }}" alt="">
        <p>1 critical notification in last hour</p>
      </div>
      {% endif %}
    </div>
    <div id="notif-actions" class="actions"> <!-- Actions menu -->
      <div class="assigned mr-auto">
        {% if not pagerperson.id %}
          {% trans %}The tater isn't held!{% endtrans %}
        {% elif pagerperson == current_user %}
          <div class="assignee">You</div> hold the tater
        {% else %}
          <div class="assignee"><a href="{{ url_for('views_users.get', user_id=pagerperson.id) }}">{{ pagerperson.name }}</a></div> holds the tater
        {% endif %}
      </div>
      {% if pagerperson.id and rules.has_access_to("views.send_message")  %}
        <div data-toggle="tooltip" data-placement="bottom" title="{% trans %}Message tater holder{% endtrans %}">
          <button id="message-tater-button" type="button" class="btn btn-lg btn-icon btn-outline-secondary" data-toggle="modal" data-target="#message-tater">
            <img class="icon" src="{{ static_url_for('static', filename='img/icons/icon-message-add.svg') }}" alt="">
          </button>
        </div>
      {% endif %}
      {% if rules.has_access_to("views.do_handover") %}
      <span
        class="d-inline-block"
        {% if no_contact_methods %}
          tabindex="0"
          data-toggle="tooltip"
          title="You cannot take the pager if you have no contact methods."
          {% endif %}>
        <button
          {% if
            pagerperson == current_user or
            no_contact_methods
          %}
            disabled
          {% endif %}
          type="button"
          class="btn btn-lg btn-primary btn-tater"
          data-toggle="modal"
          data-target="#take-tater">
          {% trans %}Take Tater{% endtrans %}
          <svg>
            <path id="btn-tater" d="M62.05 56C43.967 56 25.883 56 7.8 56C3.5 56 0 52.5 0 48.3C0 37.433 0 26.567 0 15.7C0 11.5 3.5 8 7.8 8C16.4 8 25 8 33.6 8C42.2 8 50.8 8 59.4 8C78.333 8 97.267 8 116.2 8C116.2 8 116.2 8 116.2 8C120.5 8 124 11.5 124.1 15.7C124.1 26.533 124.1 37.367 124.1 48.2C124.1 52.5 120.6 56 116.3 56C107.258 56 98.217 56 89.175 56L62.05 56"/>
          </svg>
        </button>
      </span>
      {% endif %}
    </div>
  </div>
</div>

<!-- Notification search filter -->
<!-- Filter mobile accordion toggle -->

{% if rules.has_access_to("views_notifications.notifications_get") %}
<div class="container filter-toggle">
  <button class="btn btn-sm btn-outline-secondary btn-block" type="button" data-target=".filters" data-toggle="collapse" >{% trans %}Filter notifications{% endtrans %}</button>
</div>

<div id="notif-filters" data-timezone="{{ current_user.timezone }}" data-use24hr="{{ current_user.use_24hr }}" class="filters collapse">
    <div class="container flex-wrap">
      <form method="get" class="form-inline flex-sm-grow-1" id="notification-filter-form">
        <input type="hidden" name="team_id" value="{{current_team.id}}">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><img class="icon icon-secondary" src="{{ static_url_for('static', filename='img/icons/icon-search.svg') }}" alt=""></span>
          </div>
          <input type="text" {% if 'body' in current_search_filters %}value="{{ current_search_filters['body'] }}" {% endif %}class="form-control" placeholder="{% trans %}Broken{% endtrans %}" aria-label="{% trans %}Filter notifications{% endtrans %}" data-toggle="tooltip" title="Additional filters currentely don't work, this is being fixed in https://gitlab.com/Hot-Potato/hotpotato/issues/100" />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><img class="icon icon-secondary" src="{{ static_url_for('static', filename='img/icons/icon-calendar.svg') }}" alt=""></span>
          </div>
          <input type="date" {% if 'start_date' in current_search_filters %}value="{{ current_search_filters['start_date']|replace('Z', '+00:00') }}" {% endif %}name="start_date" class="form-control flat-datetime date-start" placeholder="dd/mm/yyyy" aria-label="{% trans %}Filter notifications{% endtrans %}" />
        </div>
        <div class="input-group input-range">
          <input type="date" {% if 'end_date' in current_search_filters %}value="{{ current_search_filters['end_date']|replace('Z', '+00:00') }}" {% endif %}name="end_date" class="form-control flat-datetime" placeholder="dd/mm/yyyy" aria-label="{% trans %}Filter notifications{% endtrans %}" />
        </div>
        <select
          name="status"
          class="form-control">
          <option value="">{% trans %}Any{% endtrans %}</option>
          {% for status in notifications.STATUS %}
            <option
            value="{{status}}"
            {% if 'status' in current_search_filters and
            current_search_filters['status'] == status %}
            selected
            {% endif %}
            >{{snake_to_sentence(status)}}</option>
          {% endfor %}
        </select>
        <div class="input-group">
          <button id="search-filters-apply" type="submit" class="btn btn-primary">{% trans %}Apply{% endtrans %}</button>
        </div>
      </form>
      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="exportDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Export{% endtrans %} <span class="caret"></span></button>
        <div class="dropdown-menu" aria-labelledby="exportDropdown">
          <a type="submit" href="{{ url_for('api_web_v1.notifications_get', **current_search_filters) }}" class="dropdown-item" id="notifications-export-as-json">{% trans %}As JSON{% endtrans %}</a>
          <a type="submit" href="{{ url_for('api_web_v1.notifications_get_as_csv', **current_search_filters) }}" class="dropdown-item" id="notifications-export-as-csv">{% trans %}As CSV{% endtrans %}</a>
        </div>
      </div>
    </div>
</div>

<!-- Notifications table -->

<div id="notifications">
  {% from "notifications/display.html.j2" import display_notifications %}
  {{ display_notifications(id_notif, acknowledge_form, tags) }}
</div>
{% else %}
<div class="container">
  <p>You don't have permission to access notifications.</p>
</div>
{% endif %}

{% endblock %}
