{% extends "base.html" %}
{% include "failed_alerts.html" %}

{% import "notifications/display.html.j2" as display %}

{% block body %}

<div id="details-header" class="header">
  <div class="container">
    <div class="page-title">
      <h1 class="h5">{{display.render_notification_title(notif)}}</h1>
      <div class="page-title-meta">
        {{display.render_notification_icon(notif, link=False)}}
        <p>{{ format_datetime(notif.received_dt, "HH:mm:ss, EEEE dd/MM/yy" if current_user.use_24hr else "hh:mm:ss a, EEEE dd/MM/yy")}}</p>
      </div>
    </div>
  </div>
</div>


<div class="details container">
  <div class="card-wrapper">
    {% if notif.json['status'] == 'SEND_FAILED' and rules.has_access_to("views_notifications.acknowledge") %}
    <a
      class="dropdown-toggle btn-icon no-toggle"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
    <img
      class="icon"
      src="{{ static_url_for('static', filename='img/icons/icon-more.svg') }}"
      alt="">
    </a>
    <div
      class="dropdown-menu dropdown-menu-right dropdown-action"
      aria-labelledby="navbarDropdown">
      <form
        action="{{url_for('views_notifications.acknowledge',
        notif_id=notif.id, **request.args)}}"
        method="POST">
        {{form.csrf_token}}
        <button class="text-danger dropdown-item">Acknowledge</button>
      </form>
    </div>
    {% endif %}

    <div class="card">
        <div class="row">
          <div class="col-md-7">
            <h2 class="h6">Notification details</h2>
            <hr/>
            {{display.render_notification_details(notif)}}
          </div>
          <div class="col-md-5">
            <h2 class="h6">Delivery details</h2>
            {% for attempt in notif.send_attempts %}
              <hr/>
              <table class="table">
                <tbody>
                  <tr>
                    <th>Sent to</th>
                    <td><a href="{{ url_for('views_users.get', user_id=attempt.user.id) }}">{{attempt.user.name}}</a></td>
                  </tr>
                  <tr>
                    <th>Status</th>
                    <td>{{display.render_status(attempt)}}</td>
                  </tr>
                  <tr>
                    <th>Service</th>
                    <td>{{attempt.provider}}</td>
                  </tr>
                </tbody>
              </table>
            {% else %}
              <hr/>
              <p>Has not been sent</p>

            {% endfor %}
          </div>
        </div>
        <div class="card-footer">
          <span>Hot Potato ID: {{notif.id}}</span>
          {% if notif.json["node_name"] %}
            <span>Node name: {{notif.json["node_name"]}}</span>
          {% endif %}
          {% if notif.json["provider"] and notif.json["provider_notif_id"] %}
            <span>
              {{notif.json["provider"]}} ID: {{notif.json["provider_notif_id"]}}
            </span>
          {% endif %}
        </div>
    </div>
  </div>
</div>

{% endblock %}
