{% extends "base.html" %}

{% block body %}

<div class="header">
  <div class="container">
    <div class="page-title mt-sm-2 mb-sm-2">
      <h1 class="h3">{% if user.active %}{{ user.name }}{% else %}{% trans user_name=user.name %}{{ user_name }} (inactive){% endtrans %}{% endif %}</h1>
    </div>
    {% if user != current_user %}
    <div class="actions"> <!-- Actions menu -->
      {% if rules.has_access_to("views_users.toggle_active") %}
      <form
        class="form-inline"
        action="{{ url_for('views_users.toggle_active', user_id=user.id) }}"
        method="POST">
        {{ user_toggle_active_form.csrf_token }}
        <button class="btn btn-lg btn-primary">{% if user.active %}{% trans %}Deactivate user{% endtrans %}{% else %}{% trans %}Activate user{% endtrans %}{% endif %}</button>
      </form>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>

<div class="user-details details container">
  <div class="card-wrapper">
    <div class="card">
        <div class="row">
          <div class="col-md-7">
            <h2 class="h6">{% trans %}User details{% endtrans %}</h2>
            <hr/>
            <table class="table">
              <tbody>
                <tr>
                  <th>{% trans %}Email Address{% endtrans %}</th>
                  <td>{{ user.email }}</td>
                </tr>
                <tr>
                  <th>{% trans %}Timezone{% endtrans %}</th>
                  <td>{{ user.timezone }}</td>
                </tr>
                {% if admin %}
                  <tr>
                    <th>{% trans %}Confirmed at{% endtrans %}</th>
                    <td>{{ format_datetime(user.confirmed_at, "HH:mm:ss, EEEE dd/MM/yy" if current_user.use_24hr else "hh:mm:ss a, EEEE dd/MM/yy") if user.confirmed_at else _("(not confirmed)") }}</td>
                  </tr>
                  <tr>
                    <th>{% trans %}Last logged in{% endtrans %}</th>
                    <td>{{ format_datetime(user.last_login_at, "HH:mm:ss, EEEE dd/MM/yy" if current_user.use_24hr else "hh:mm:ss a, EEEE dd/MM/yy") if user.last_login_at else _("(never)") }}</td>
                  </tr>
                  <tr>
                    <th>{% trans %}Logged in since{% endtrans %}</th>
                    <td>{{ format_datetime(user.current_login_at, "HH:mm:ss, EEEE dd/MM/yy" if current_user.use_24hr else "hh:mm:ss a, EEEE dd/MM/yy") if user.current_login_at else _("(never)") }}</td>
                  </tr>
                  <tr>
                    <th>{% trans %}Last Login IP{% endtrans %}</th>
                    <td>{{ user.last_login_ip if user.last_login_ip else _("(none)") }}</td>
                  </tr>
                  <tr>
                    <th>{% trans %}Current Login IP{% endtrans %}</th>
                    <td>{{ user.current_login_ip if user.current_login_ip else _("(none)") }}</td>
                  </tr>
                  <tr>
                    <th>{% trans %}Login Count{% endtrans %}</th>
                    <td>{{ user.login_count if user.login_count else 0}}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <span>{% trans user_id=user.id %}Hot Potato ID: {{ user_id }}{% endtrans %}</span>
        </div>
    </div>
  </div>
</div>

{% endblock %}
