{% macro table_oncall_contacts(caption, contacts, show_priority=True) %}
<table class="table table-striped">
  <caption>
    {{
      caption
    }}
  </caption>
  <tr>
    {% if show_priority %}<th>{% trans %}Priority{% endtrans %}</th>{% endif %}
    <th>{% trans %}Method{% endtrans %}</th>
    <th>{% trans %}Contact{% endtrans %}</th>
    <th>{% trans %}Send Notifications?{% endtrans %}</th>
    <th
      data-toggle="tooltip"
      title="{% trans %}Send a notification when Hot Potato is unable to deliver a notification to an on-call user{% endtrans %}"
    >
      {% trans %}Send failures?{% endtrans %}
    </th>
    <th>{% trans %}Send Test{% endtrans %}</th>
    {% if contacts %}
    <th><center>{% trans %}Delete{% endtrans %}</center></th>
    {% endif %}
  </tr>

  {% for contact in contacts -%}
  <tr>
    {% if show_priority %}
    <td>
      {{ contact.priority }}
      <form class="d-inline" method="post" action="{{ url_for('views_account.move_contact_up', contact_id=contact.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button class="btn btn-secondary btn-xs" type="submit">{% trans %}Up{% endtrans %}</button>
      </form>
      /
      <form class="d-inline" method="post" action="{{ url_for('views_account.move_contact_down', contact_id=contact.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button class="btn btn-secondary btn-xs" type="submit">{% trans %}Down{% endtrans %}</button>
      </form>
    </td>
    {% endif %}
    <td>{{ contact.method }}</td>
    <td>{{ contact.contact }}</td>

    <td class="bg-warning">
      <form
        action="{{ url_for('views_account.toggle_send_pages', contact_id=contact.id)}}"
        id="toggle-send:{{ contact.id }}"
        method="POST"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button
          type="submit"
          class="btn btn-secondary"
          form="toggle-send:{{ contact.id }}"
        >
          {% if contact.send_pages -%} {% trans %}✓ Yes{% endtrans %} {%- else
          -%} {% trans %}✗ No{% endtrans %} {%- endif %}
        </button>
      </form>
    </td>

    <td class="bg-warning">
      <form
        action="{{ url_for('views_account.toggle_notify_on_fail', contact_id=contact.id)}}"
        id="toggle-failure:{{ contact.id }}"
        method="POST"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button
          type="submit"
          class="btn btn-secondary"
          form="toggle-failure:{{ contact.id }}"
        >
          {% if contact.send_failures -%} {% trans %}✓ Yes{% endtrans %} {%-
          else -%} {% trans %}✗ No{% endtrans %} {%- endif %}
        </button>
      </form>
    </td>

    <td class="bg-warning">
      <form
        action="{{ url_for('views_account.send_test_message', contact_id=contact.id)}}"
        id="test-message:{{ contact.id }}"
        method="POST"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button
          type="submit"
          class="btn btn-secondary"
          form="test-message:{{ contact.id }}"
        >
          {% trans %}Test{% endtrans %}
        </button>
      </form>
    </td>

    <td>
      <center>
        <input
          type="checkbox"
          name="{{ contact.id }}"
          id="{{ contact.contact }}"
          form="delete-form"
        />
      </center>
    </td>
  </tr>
  {%- endfor %}

  <tr>
    {% if util.enabled_sending_methods()|length != 0 %}
    <td class="bg-info text-center align-middle" colspan="{% if show_priority %}6{% else %}5{% endif %}">
      <b>
        <a href="#" data-toggle="modal" data-target="#add-contact-method">
          {% trans %}Add contact method{% endtrans %}
        </a>
      </b>
    </td>
    {% else %}
    <td
      class="bg-warning text-center align-middle"
      colspan="{% if show_priority %}6{% else %}5{% endif %}"
    >
      <b
        >{% trans %}You cannot add a contact method because all methods are
        disabled.{% endtrans %}</b
      >
    </td>
    {% endif %} {% if contacts -%}
    <td class="bg-info">
      <center>
        <button form="delete-form" class="btn btn-primary" type="submit">
          {% trans %}Delete{% endtrans %}
        </button>
      </center>
    </td>
    {%- endif %}
  </tr>
</table>

{% endmacro %}
