{% extends "base.html" %}
{% from "account/oncall_contacts_table.html" import table_oncall_contacts %}
{% from "forms/macros.html.j2" import form_select_field_inner, form_field_label %}
{% from "forms/macros.html.j2" import form_text_field, form_checkbox_field, form_select_field %}

{% block body %}

{% include "modals/add_contact_method.html" %}

<div class="header">
  <div class="container">
    <div class="page-title">
      <h2>{% trans %}Account{% endtrans %}</h2>
    </div>
  </div>
</div>

{% if user.last_login_ip != user.current_login_ip and user.last_login_ip != None %}
  <div class="container mt-sm-3">
  <center><div class="alert alert-danger" role="alert">
    <p>{% trans %}<b>Heads up!</b> Your last login came from a different IP to your current:{% endtrans %}</p>
    <p>{% trans user_ip = user.current_login_ip, time = format_datetime(user.current_login_at, "yyyy-MM-dd HH:mm:ss (z)" if current_user.use_24hr else "yyyy-MM-dd hh:mm:ss a (z)") %}<b>Current Login was from</b> {{ user_ip }} at {{ time }}{% endtrans %}</p>
    <p>{% trans last_ip = user.last_login_ip, last_time = format_datetime(user.last_login_at, "yyyy-MM-dd HH:mm:ss (z)" if current_user.use_24hr else "yyyy-MM-dd hh:mm:ss a (z)") %}<b>Previous Login was from</b> {{ last_ip }} at {{ last_time }}{% endtrans %}</p>
  </div></center>
  </div>
{% endif %}

<div class="container mt-sm-3">
  <h3>{% trans %}My contact methods{% endtrans %}</h3>
</div>

<div class="container mt-sm-3">
  <div class="card">
    <div class="card-body">
      <p>{% trans %}The system shall attempt to contact you via the methods below. It will first try sending to verifiable contact methods in order of priority. If all those fail it will do the same with the unverifiable contact methods{% endtrans %}</p>

      <form action="{{ url_for('views_account.remove_contact_methods') }}" method="POST" id="delete-form"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/></form>

      {{ table_oncall_contacts(gettext("Verifiable Contact Methods"), verifiable_contacts) }}
      {{ table_oncall_contacts(gettext("Unverifiable Contact Methods"), unverifiable_contacts, show_priority=True) }}
    </div>
  </div>
</div>

<div class="container mt-sm-4">
  <h3>{% trans %}My timezone{% endtrans %}</h3>
</div>

<div class="container mt-sm-4 mb-sm-4">
  <div class="card">
    <div class="card-body">
      <p>{% trans %}This is the timezone that Hot Potato will format times into for you.{% endtrans %}</p>

      <form class="form-inline" action="{{ url_for('views_account.change_timezone') }}" method="POST">
        {{ timezone_form.csrf_token }}
        <div class="input-group mb-2 mr-sm-2">
          {{ form_select_field_inner("timezone", timezone_form.timezone, auto_width=True) }}
        </div>
        <div class="form-check mb-2 mr-sm-2">
          {{ form_checkbox_field("timezone", timezone_form.use_24hr)}}
        </div>
        <button type="submit" class="btn btn-primary mb-2">{% trans %}Update{% endtrans %}</button>
      </form>
    </div>
  </div>
</div>

{% if feature_translations %}

<div class="container mt-sm-4">
  <h3>{% trans %}My language{% endtrans %}</h3>
</div>

<div class="container mt-sm-4 mb-sm-4">
  <div class="card">
    <div class="card-body">
      <p>{% trans %}This is the language that Hot Potato will use.{% endtrans %}</p>

      <form action="{{ url_for('views_account.change_language') }}" method="POST">
        {{ language_form.csrf_token }}
        {{ form_field_label("language", language_form.language) }}
        <div class="form-row">
          {{ form_select_field_inner("language", language_form.language, auto_width=True) }}
          <button type="submit" class="btn btn-primary">{% trans %}Update{% endtrans %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endif %}


<div class="container mt-sm-4">
  <h3>{% trans %}My teams{% endtrans %}</h3>
</div>

<div class="container mt-sm-4 mb-sm-4">
  <div class="card">
    <div class="card-body">
      <div class="card-content">
        <div class="list-group">
          {% set primary_team = current_user.primary_team %}
          {% for team in user.teams %}
            <div class="list-group-item d-flex flex-row align-items-baseline justify-content-between">
              <div class="d--flex flex-grow-1">
                <b>{{team.name}}</b>
              </div>
              <div class="d-inline-flex">
                <form action="{{url_for('views_account.account_team')}}" class="form-inline" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <input type="hidden" name="team_id" value="{{team.id}}">
                  <div>
                    <button
                      type="submit"
                      name="action"
                      value="set_primary"
                      class="form-control btn btn-outline-secondary"
                      {% if team.id == primary_team.id %}disabled{% endif %}
                      >{% trans %}Set primary{% endtrans %}</button>
                    <button
                      type="submit"
                      name="action"
                      value="leave"
                      class="form-control btn btn-outline-secondary"
                      {% if team.id == primary_team.id %}disabled{% endif %}
                      >{% trans %}Leave{% endtrans %}</button>
                  </div>
                </form>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
