{% extends "base.html" %}

{% block body %}

<div class="header">
  <div class="container">
    <div class="page-title">
      <h2>Edit Tag</h2>
    </div>
  </div>
</div>

<div class="container mt-sm-3">
  <div class="card">
    <div class="card-body">
      <form action="{{ url_for('views_admin.edit_tag', tag_id=tag.id, _team_id=_team_id) }}" method="post">
        {{ form.csrf_token }}
        <div class="form-row align-items-center">
          <label for="{{ form.name.id }}" class="col-form-label col-auto">{{ form.name.label }}</label>
          <input type="{{ type }}"
            class="form-control{% if form.name.errors %} is-invalid{% endif %} col-sm-3" id="{{ form.name.id }}"
            name="{{ form.name.name }}" {% if form.name.data %}value="{{form.name.data}}"{% endif %}
            {% if form.name.flags.required %}required{% endif %}>
          <button class="btn btn-primary col-auto ml-2" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
