{% include "header.html" %}
{% from "security/macros.html" import render_errors, render_input %}

{% block body %}

<section id="login">
  <img class="logo-lg" src="{{ static_url_for('static', filename='img/tater-logo-lg.svg') }}" alt="Hot Potato Logo - A violently flaming potato">

  <div class="text">
    <h3 class="h3 text-center">{{error.code}} - {{error.name}}</h3>
    <p class="text-center">{{error.description|safe}}</p>
    <p class="text-center text-muted description"><a href="/">Return Home</a></p>
  </div>
  <div class="image">
    <img class="banner-lg" src="{{ static_url_for('static', filename='img/team-banner-lg.svg') }}" aria-hidden="true">
  </div>
</section>

</div>

{% endblock %}
{% include "footer.html" %}
