{% macro form_hidden_field(prefix, field, value) %}
  <input
    type="hidden"
    class="form-control{% if field.errors %} is-invalid{% endif %}"
    id="{{ prefix }}-{{ field.id }}"
    name="{{ field.name }}"
    value="{{ value }}" {% if field.flags.required %}required{% endif %}/>
{% endmacro %}

{% macro form_text_field(prefix, field, placeholder, type="text") %}
  <div class="form-group">
    {{ form_field_label(prefix, field) }}
    <input
      type="{{ type }}"
      class="form-control{% if field.errors %} is-invalid{% endif %}"
      id="{{ prefix }}-{{ field.id }}"
      name="{{ field.name }}" {% if field.data %}value="{{field.data}}"{% endif %}
      placeholder="{{ placeholder }}" {% if field.flags.required %}required{% endif %}>
    {{ form_field_errors(field) }}
  </div>
{% endmacro %}

{% macro form_checkbox_field(prefix, field) %}
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="{{ prefix }}-{{ field.id }}"
      name="{{ field.name }}"
      {% if field.data %}checked{% endif %}>
    <label for="{{ prefix }}-{{ field.id }}" class="form-check-label">{{ field.label.text }}</label>
    {{ form_field_errors(field) }}
  </div>
{% endmacro %}

{% macro form_select_field(prefix, field) %}
  <div class="form-group">
    {{ form_field_label(prefix, field) }}
    {{ form_select_field_inner(prefix, field) }}
    {{ form_field_errors(field) }}
  </div>
{% endmacro %}

{% macro form_select_field_inner(prefix, field, auto_width=False) %}
  <select
    id="{{ prefix }}-{{ field.id }}"
    class="form-control{% if field.errors %} is-invalid{% endif %}{% if auto_width %} w-auto{% endif %}"
    name="{{ field.id }}"
    {% if field.flags.required %}required{% endif %}>
		{% for choice in field.choices %}
			<option {% if field.data == choice.0 %}selected{% endif %} value="{{ choice.0 }}">{{ choice.1 }}</option>
		{% endfor %}
  </select>
{% endmacro %}

{% macro form_field_errors(field) %}
  {% for error in field.errors %}
    <div class="invalid-feedback">
      {{ error }}
    </div>
  {% endfor %}
{% endmacro %}

{% macro form_field_label(prefix, field) %}
  <label for="{{ prefix }}-{{ field.id }}" class="col-form-label">{{ field.label.text }}</label>
{% endmacro %}
